body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.translated-ltr {
  margin-top: -40px;
}
.translated-ltr {
  margin-top: -40px;
}
.goog-te-banner-frame {
  display: none;
  margin-top: -20px;
}
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
}

/ .... /

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
  border-radius: 5px;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none;
}
.goog-te-gadget .goog-te-combo {
  margin: auto;
  border-radius: 5px;
  width: 95px;
} */